body {
  background-color: #333;
}
.cropFrame {
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.cropImage {
  position: absolute;
  top: 0;
  left: 0;
  cursor: move;
  max-width: none;
}
#calendar {
  width: 4200px;
  height: 3250px;
  padding: 0;
  margin-top: 20px;
  position: relative;
  background-color: #000;
  zoom: 23.5%;
}
#calendar > div {
  margin: 0;
  padding: 0;
  background-color: #444;
  position: absolute;
  cursor: pointer;
}
#calendar > div:hover {
  background-color: #666;
}
body.deleting #calendar > div:hover {
  background-color: #444;
  cursor: default;
}
body.deleting #calendar > div:hover img {
  opacity: 0.3;
  cursor: not-allowed;
}
input[type=file] {
  display: none;
}
#delete:before {
  content: "Delete";
}
body.deleting #delete:before {
  content: "Cancel";
}
#template {
  display: none;
}
div > textarea {
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 163px;
  padding-top: 0.5em;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  border-style: none;
  resize: none;
  font-size: 52pt;
  font-family: "Myriad Pro";
  font-weight: bold;
  outline-style: none;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 30px #000, 0 0 60px rgba(0,0,0,0.9), 0 0 100px rgba(0,0,0,0.8);
}
