.cropFrame
  overflow: hidden
  position: relative
  display: inline-block

.cropImage
  position: absolute
  top: 0
  left: 0
  cursor: move
  max-width: none

#calendar
  width:  4200px
  height: 3300px
  padding: 0
  position: relative
  background-color: black

  & > div
    margin: 0
    padding: 0
    background-color: #444
    position: absolute
    cursor: pointer

    &:hover
      background-color: #666

input[type=file]
  display: none
