.cropFrame
  overflow: hidden
  position: relative
  display: inline-block

.cropImage
  position: absolute
  top: 0
  left: 0
  cursor: move
  max-width: none

#calendar
  width:  4200px
  height: 3250px
  padding: 0
  margin-top: 20px
  position: relative
  background-color: black

  & > div
    margin: 0
    padding: 0
    background-color: #444
    position: absolute
    cursor: pointer

    &:hover
      background-color: #666

    body.deleting &:hover
      background-color: #444
      cursor: default
      img
        opacity: 0.3
        cursor: not-allowed

input[type=file]
  display: none

#delete
  &:before
    content: "Delete"
  body.deleting &:before
    content: "Cancel"

#template
  display: none
